/* Header Styling */
header {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  max-width: 100%;
  height: 300px;
  box-shadow: 0px 0px 1.75px black;
  background-color: var(--white);
}

.big-head {
  display: flex;
}

.small-head {
  display: none;
}

#logo {
  position: relative;
  background-image: url(/Photos/logoImg.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 250px;
  height: 150px;
}
.header-container {
  display: flex;
  position: relative;
  max-width: 100%;
  height: var(--nav-height);
  justify-content: center;
  align-items: center;
}

/* Navigation Links Styling */
.links-container {
  display: flex;
  list-style: none;
}

.nav-links {
  display: flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 12vw;
  height: var(--nav-height);
  text-align: center;
}

.links {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--orange);
}

[class*="-line"] {
  width: 200px;
  height: 100px;
  background-size: cover;
  background-repeat: no-repeat;
}

.right-line {
  background-image: url(/Photos/right_line.png);
}

.left-line {
  background-image: url(/Photos/left_line.png);
}

.links:hover {
  border-bottom: 3pc solid var(--green);
  color: var(--green);
}

.menubtn-container {
  display: none; /* to flex*/
  position: absolute;
  top: 0;
  right: 20px;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100%;
}
.menubtn {
  padding: 0;
  width: max-content;
  height: max-content;
  font-size: 2.5rem;
  color: var(--green);
  border: 0;
  transition: font-size 100ms ease-in;
}

.menubtn:hover {
  color: var(--red);
  font-size: 3rem;
}

/* floating social links Styling */
.socials-container {
  display: none;
  position: absolute;
  bottom: 50px;
  width: 100%;
  /* right: 0; */
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 30px;
}

.socials-container li {
  position: relative;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  /* padding: 25%; */
}

.socials-container li a:hover {
  font-size: 35px;
}

.socials-container li a {
  background: transparent;
  font-size: 2.3rem;
  color: white;
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 100%;
}

@media (orientation: portrait) {
  @media (max-width: 1111px) {
    .big-head {
      display: none;
    }

    .header-container {
      height: 70px;
    }
    .small-head {
      display: block;
      height: 175px;
    }
    .menubtn-container {
      display: flex;
    }
    .links-container {
      display: none; /*to block*/
      align-items: center;
      flex-direction: column;
      position: fixed;
      /* background-image: var(--themeColor-background-image); */
      background-color: var(--yellow);
      z-index: 99;
      top: 0;
      right: 0;
      height: 100vh;
      width: 30vw;
      padding-top: 50px;
    }
    .nav-links {
      width: 100%;
    }
    .links {
      font-size: 1.25rem;
      color: var(--red);
    }

    .menubtn-container {
      position: fixed;
      z-index: 999;
      top: 3%;
      right: 0;
      width: 100px;
      height: max-content;
    }
    .socials-container {
      display: block;
    }
  }

  @media (max-width: 895px) {
    .links-container {
      width: 100vw;
    }
    .links {
      font-size: 2rem;
    }
  }
}
@media (orientation: landscape) {
  @media (max-width: 1111px) {
    .big-head {
      display: none;
    }

    .header-container {
      height: 70px;
    }

    .small-head {
      display: block;
      height: 175px;
    }
    .menubtn-container {
      display: flex;
    }
    .links-container {
      align-items: center;
      flex-direction: column;
      position: fixed;
      background-image: var(--themeColor-background-image);
      z-index: 99;
      right: 0;
      bottom: 0;
      height: 100vh;
      width: 30vw;
      padding-top: 50px;
    }
    .nav-links {
      width: 100%;
    }
    .links {
      font-size: 1.25rem;
    }

    .menubtn-container {
      position: fixed;
      z-index: 999;
      top: 3%;
      right: 0;
      width: 100px;
      height: max-content;
    }
    .socials-container {
      display: block;
    }
  }
}
