
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Allura&family=Lobster&family=Pacifico&family=Roboto+Slab:wght@300;800&display=swap');

/* greeting */
.greeting-container {
    position: relative;
    display: grid;
    grid-template-areas: 'title image';
    grid-template-columns: 50% 50%;
    width: 100%;
    height: var(--main-height);
    background-color: var(--firstSection-background-color);
    color: white;
    text-align: center;
    text-transform: capitalize;
}

.greeting-heading{
    grid-area: title;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
}

.greeting-heading h1, .greeting-heading h2{
    width: 100%;
    text-align: left;
    word-spacing: 2px;
    letter-spacing: 3px;
    color:  red;
    font-family: 'Allura', cursive;
}

.greeting-image{
    height: 100%;
    grid-area: image;
    background-size: cover;
    background-image: url(/Photos/ingredients.jpeg);
    display: flex;
    justify-content: center;
    align-items: end;
}
.greeting-heading h1 {
    font-size: 8rem;
    padding: 0 7%;
}
.greeting-heading h2 {
    font-size: 3rem;
    padding: 0 5% 20% 5%;
}

.greeting-container p {
    padding: 10px 250px;
    font-family: 'Times New Roman', Times, serif;
    word-spacing: 2px;

}



.qualities-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: white; */
    width: 70%;
    height: 300px;
}
.other-area {
    justify-content: center;
}

.chaunies-desc{
    color: white;
    font-size: 2rem;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    /* transform: translateY(100px) */
}
.quality{
    /* transform: translateY(100px); */
    /* opacity: 0; */
    background-color: white;color: #ffbe45;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 3px outset green;
    font-size: 2rem;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.24);
    transition: all 2s cubic-bezier(0.74, -0.72, 0, 3.07);
}

.quality:hover{
    font-size: 3rem;
    width: 300px;
    height: 300px;
    border: 5px inset red;
}

.quality article{
    font-size: 1.25rem;
    font-weight: bold;
}

/* Home animations */
@keyframes flyInFromDown {
    from{
        transform: translateY(100px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
        
    }
}
.flyIn{
    animation: flyInFromDown 3s cubic-bezier(0.215, 0.610, 0.355, 1) 0s forwards;
}

.heading-why{
    font-family: 'Lobster', cursive;
    font-size: 4rem;
    color: aliceblue;
    text-transform: capitalize;
    font-style: italic;
}

/* @media (orientation: landscape){ */
    @media (max-width:1004px) {
        .greeting-container{
            grid-template-areas: "image"
            'title';
            grid-template-columns: 100%;
            grid-template-rows: 30% 70%;
        }
        
        .greeting-heading h1,.greeting-heading h2 {
            text-align: center;
        }
        .greeting-heading h2 {
            padding-bottom: 5px;
        }
        
        .quality {
            width: 175px;
            height: 175px;
        }

        .quality:hover {
            width: 200px;
            height: 200px;
            border: 5px inset red;
            font-size: 2rem;
        }
                
        .quality article {
            font-weight: bold;
            font-size: 1.2rem;
        }

        .qualities-container {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            /* background-color: white; */
            width: 100%;
            height: max-content;
            padding: 30px;
            row-gap: 30px;
        }

        .chaunies-desc{
            font-size: 1.5rem;
        }
        
        .greeting-heading h1{
            font-size: 5rem;
        }
        
        .greeting-heading h2{
            font-size: 2rem;
        }
        .greeting-heading{
            justify-content: center;
            align-items: center;
        }

        @media (max-width: 400px){
            .greeting-heading h1{
                font-size: 3rem;
            }
            .greeting-heading h2{
                font-size: 1.5rem;
            }
        }
    }
/* } */