/* @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lobster&family=Oi&family=Pacifico&family=Roboto+Slab:wght@300;800&display=swap'); */

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

main{
    background-image: url(/Photos/ingredients.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
}

:root {
    --white: #f0f8ff;
    --red: #d90101;
    --orange: #fcb228;
    --yellow: #fbe756;
    --green: #bcf994;
    --bg-black: #1a1919b4;
    --nav-height: 13vh;
    --main-height: 87vh;
    --themeColor-background-image: linear-gradient(to right, var(--orange), var(--red));
    --firstSection-background-color: #1a1919b4;
}


/* Main content area */
.main-area {
    display: block;
    width: 100%;
    max-width: 100vw;
    height: max-content;
    position: relative;
}

.other-area{
    width: 100%;
    height: 100vh;
    background: var(--bg-black);
    display: flex;
    flex-direction: column;
    align-items: center;   
}

/* POP UP */
.button-container {
    background-color: rgba(37, 37, 37, 0.768);
    position: fixed;
    display: flex;
    height: 100vh;
    width: 100vw;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    z-index: 99;
}

.buttonHolder {
    background-image: var(--themeColor-background-image);
    display: inline-flex;
    flex-direction: column;
    max-width: 22.5vw;
    height: fit-content;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    color: var(--white);
}

.buttonHolder h1,
article,
p {
    padding: 5%;
    width: 100%;
}

.buttonHolder h1{
    letter-spacing: 2px;
    word-spacing: 1px;
    font-size: 40px;
}

.buttonHolder article{
    font-family: 'Roboto Slab', serif;
    letter-spacing: 2px;
    word-spacing: 1px;
    font-size: 25px;
}
.buttonHolder p{
    font-family: 'Roboto Slab', serif;
    letter-spacing: 2px;
    word-spacing: 1px;
    font-size: 40px;
    font-weight: bold;
}

button {
    padding: 10px 15px;
    border-radius: 5px;
    background: none;
    border: 1.5px solid black;
    cursor: pointer;
    font-size: 15px;
    text-transform: capitalize;
}
.closeBtn {
    position: absolute;
    top: 0;
    right: 20px;
    border: none;
    font-size: 50px;
    color: white;
}

.toOrderServices {
    border: solid 3px var(--white);
    padding: 7px 15px;
    border-radius: 10px;
    color: var(--white);
    font-weight: bold;
    font-size: 25px;
}
.no-show {
    display: none;
}

/* @media (orientation: landscape) { */
    @media (max-width: 1004px){
    .other-area {
            height: max-content;
        }
    }
    
/* } */