.form-container {
  display: flex;
  align-items: flex-start;
  text-align: left;
  justify-content: center;
  width: 85vw;
  border-radius: 50px;
  padding: 20px 50px;
  background-color: transparent;
  /* box-shadow: inset 1px 1px 10px rgba(255, 255, 255, 0.607), inset -5px -5px 12px rgba(0, 0, 0, 0.233); */
  box-shadow: inset 1px 1px 10px rgba(255, 255, 255, 0.607),
    inset -5px -5px 12px rgba(0, 0, 0, 0.494);
  margin: 50px 0;
}

fieldset {
  border-radius: 50px;
  width: 100%;
  height: fit-content;
  /* border: 5px solid var(--orange); */
  padding: 20px;
}

input {
  margin: 20px;
  height: 50px;
  border-radius: 20px;
  border: 2px solid var(--bg-black);
  background: none;
  padding: 20px;
  font-size: 20px;
  color: var(--bg-black);
}

/* .input::after{
content: "Contact";
position: relative;
top: 0;
left: 0;
width: 20000px;
height: 20000px;
background-color: blue;
} */
.input {
  color: var(--bg-black);
  position: relative;
  top: 0;
  left: 0;
  font-size: 18px;
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: linear;
  /* background-color: red; */
  width: 200px;
  height: 30px;
  cursor: text;
}

#tele,
#name,
input,
textarea {
  background-color: transparent;
  border: 0;
  border-bottom: 1px inset var(--bg-black);
  box-shadow: inset 4px 4px 10px var(--bg-black);
  color: var(--red);
  font-family: "Copperplate Gothic Light";
}

legend {
  font-size: 40px;
  padding: 50px 20px;
  word-spacing: 5px;
  letter-spacing: 3px;
  color: var(--bg-black);
}

#deliveryMode,
#pickup-date {
  font-size: 20px;
  padding: 25px;
  color: var(--bg-black);
  font-weight: bold;
}

select {
  padding: 10px;
  margin: 20px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  background-image: var(--themeColor-background-image);
}

#address {
  border-radius: 20px;
  padding: 10px;
  font-size: 20px;
  color: var(--red);
  background: none;
  border: 2px solid var(--orange);
  margin: 20px;
  height: fit-content;
  display: none;
}

.order-container {
  color: var(--white);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  background-color: var(--white);
}

.order-title {
  width: 100%;
  padding: 10px;
  font-size: 75px;
  font-family: "Lobster", cursive;
  text-transform: capitalize;
  color: var(--orange);
  text-align: center;
}

#check {
  cursor: pointer;
  border-radius: 50px;
  padding: 25px;
  font-size: 30px;
  font-weight: bold;
  font-family: "Robot Slaab", serif;
  color: var(--red);
  margin: 15px;
  border: 1px solid var(--white);
  /* background-image: var(--themeColor-background-image); */
  /* box-shadow: inset 20px 20px 50px rgba(255, 173, 41, 0.678), 9px 8px 30px rgba(51, 51, 51, 0.476); */
}

.items-container {
  color: var(--red);
  border: 1px solid white;
  border-radius: 50px;
  width: 75vw;
  display: grid;
  grid-template-areas: "auto auto";
  justify-content: space-evenly;
  grid-template-rows: 50% 50%;
  background-color: var(--green);
}

.item {
  text-align: center;
  padding: 20px;
}

.itemPhoto {
  width: 250px;
  height: 250px;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 5px;
}

.oz_eight {
  background-image: url(/Photos/80z-nobg.png);
}

.oz_sixteen {
  background-image: url(/Photos/16oz-removebg-preview.png);
}
.price {
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 1px;
}

/* .desc {
    letter-spacing: 1px;
    width: 100%;
    margin-top: 20px;
    font-family: "Noto";
} */

[id*="quantity-"] {
  width: 100px;
  color: var(--white);
}

.itemName {
  margin: 10px;
  text-transform: capitalize;
  font-family: "Copperplate Gothic Light";
}
.special-order {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  grid-area: special;
}

.special-order article {
  padding: 10px;
  width: 90%;
  text-transform: none;
  text-align: center;
  color: var(--orange);
  font-size: 25px;
}
/* 
.special-order article::before{
    content: "*";
} */

.special-order article::before,
.special-order {
  font-size: 1.25rem;
  font-weight: bold;
  font-style: italic;
}

.description-container label {
  font-family: "Copperplate Gothic Light";
  font-size: 25px;
  font-weight: bold;
}

#addy-info {
  width: 80%;
  border-radius: 10px;
  /* border: 1px solid var(--orange); */
  padding: 10px;
  margin: 50px 0 50px 50px;
  box-shadow: inset 2px 2px 10px var(--bg-black);
  /* justify-self: flex-start; */
  font-size: 15px;
}

#orderInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@media (max-width: 1100px) {
  .form-container {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 100%;
    height: fit-content;
  }
}

@media (max-width: 829px) {
  .items-container {
    grid-template-areas:
      "auto"
      "auto";
    width: 100%;
  }
  .item {
    border-bottom: 1px solid aliceblue;
  }

  #addy-info {
    margin: 50px 0;
  }

  #orderInfo {
    align-items: center;
  }
}
@media (max-width: 587px) {
  .items-container {
    width: 80%;
  }
  .item {
    border-bottom: 1px solid aliceblue;
  }
  legend {
    font-size: 30px;
    padding: 50px 0;
  }
}

@media (max-width: 491px) {
  .special-order article {
    font-size: 1rem;
  }
  .order-title {
    font-size: 50px;
  }
  legend {
    font-size: 20px;
  }

  input {
    width: 80vw;
  }

  .price {
    font-size: 3rem;
  }

  .item {
    padding: 0;
  }
}
